In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import tensorflow as tf
import pickle
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import  EarlyStopping,TensorBoard
import datetime

In [80]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [81]:
# Preproceess the data 
# Drop the irrevant data
df =df.drop(['RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [83]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [84]:
# Encoded categorical variables
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [85]:
## Onehot encode 'Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoder

onehot_encoder_geo.get_feature_names_out(['Geography'])

geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))


## Combine one hot encoder columns with the original data
df=pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

In [87]:
# Save the encoder and scaler 
with open ('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open  ('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [88]:
# Divide the data into depended and indepened data

X = df.drop('Exited',axis=1)
y = df['Exited']

#split  the data into  train and test data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

# Scaled these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [89]:
with open ('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [90]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

## ANN classificatioin

In [91]:
## build the ANN model
model = Sequential([
    Dense(64,activation ='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation ='relu'),# Hidden Layer
    Dense(1,activation ='sigmoid')])## Output Layer

In [92]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [93]:
import tensorflow
opt= tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [94]:
# Compile the model
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [95]:
# Setup the Tensorboard
log_dir = 'logs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [96]:
# Setup Early Stoping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [97]:
## Train the model
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),
    epochs =100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.4653 - accuracy: 0.7926 - val_loss: 0.3874 - val_accuracy: 0.8340
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3761 - accuracy: 0.8441 - val_loss: 0.3537 - val_accuracy: 0.8565
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3538 - accuracy: 0.8541 - val_loss: 0.3471 - val_accuracy: 0.8570
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3452 - accuracy: 0.8591 - val_loss: 0.3496 - val_accuracy: 0.8545
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3423 - accuracy: 0.8589 - val_loss: 0.3454 - val_accuracy: 0.8595
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3376 - accuracy: 0.8627 - val_loss: 0.3425 - val_accuracy: 0.8605
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8606 - val_loss: 0.3442 - val_accuracy: 0.8625
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3328 - accuracy: 0.8589 - val_loss: 0.3433 - val_accuracy: 0.8610
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3298 - accuracy: 0.8619 - val_loss: 0.3436 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3279 - accuracy: 0.8625 - val_loss: 0.3395 - val_accuracy: 0.8660
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3245 - accuracy: 0.8633 - val_loss: 0.3430 - val_accuracy: 0.8625
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3229 - accuracy: 0.8670 - val_loss: 0.3560 - val_accuracy: 0.8560
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3218 - accuracy: 0.8650 - val_loss: 0.3400 - val_accuracy: 0.8640
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3203 - accuracy: 0.8666 - val_loss: 0.3446 - val_accuracy: 0.8600
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3180 - accuracy: 0.8654 - val_loss: 0.3399 - val_accuracy: 0.8635
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3166 - accuracy: 0.8694 - val_loss: 0.3425 - val_accuracy: 0.8620
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3149 - accuracy: 0.8687 - val_loss: 0.3389 - val_accuracy: 0.8675
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3124 - accuracy: 0.8683 - val_loss: 0.3398 - val_accuracy: 0.8630
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3115 - accuracy: 0.8683 - val_loss: 0.3381 - val_accuracy: 0.8670
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3092 - accuracy: 0.8714 - val_loss: 0.3449 - val_accuracy: 0.8640
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3069 - accuracy: 0.8721 - val_loss: 0.3411 - val_accuracy: 0.8665
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3065 - accuracy: 0.8721 - val_loss: 0.3420 - val_accuracy: 0.8625
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3076 - accuracy: 0.8719 - val_loss: 0.3388 - val_accuracy: 0.8685
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3033 - accuracy: 0.8735 - val_loss: 0.3440 - val_accuracy: 0.8590
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3023 - accuracy: 0.8730 - val_loss: 0.3462 - val_accuracy: 0.8610
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3010 - accuracy: 0.8744 - val_loss: 0.3445 - val_accuracy: 0.8630
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3000 - accuracy: 0.8769 - val_loss: 0.3507 - val_accuracy: 0.8575
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2980 - accuracy: 0.8737 - val_loss: 0.3425 - val_accuracy: 0.8650
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2974 - accuracy: 0.8737 - val_loss: 0.3453 - val_accuracy: 0.8670

In [98]:
model.save('model.h5')

c:\Users\ambig\jupiter_notebook\Projects\Churn-Prediction-NLP-\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [99]:
# Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [102]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 12328), started 0:04:46 ago. (Use '!kill 12328' to kill it.)